{% extends 'blog/base.html' %}
{% block content %}
  <article>
    <h2>{{ post.title }}</h2>
    <small>by {{ post.author.username }} • {{ post.published_date|date:'Y-m-d H:i' }}</small>
    <div>
      <p>{{ post.content|linebreaks }}</p>
    </div>
  </article>
  <p>
    <a href="{% url 'post-list' %}">Back to Posts</a>
    {% if user == post.author %}
      • <a href="{% url 'post-edit' post.pk %}">Edit</a>
      • <a href="{% url 'post-delete' post.pk %}">Delete</a>
    {% endif %}
  </p>
{% endblock %}
